/datasets/*/sources/
/datasets/*/output.rdf
/internal/converter/testdata/*/output.rdf

/paper/_minted-*/
/paper/*.aux
/paper/*.bbl
/paper/*.bcf
/paper/*.blg
/paper/*.log
/paper/*.out
/paper/*.run.xml
/paper/*.toc

/bin/
/.idea/
/.vscode/
